* {
	cursor: wait;
}

.container {
	width: 100%;
    height: 100vh;
    background-color: #222227;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordBox {
	background-color: rgb(60,60,60);
	padding: 40px;
	
}

.yourPassword {
	background-color:rgb(180,20,30);
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
}

.submutButton {
	background-color:rgb(180,20,30);
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
}
.passwordInput {
	background-color: rgb(60,60,60);
	color: #eee;
}

.button {
	background-color: rgb(60,60,60);
	color: #eee;
}